Repository Armor-test/config-library-431, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/dept-test, @Armor-test/squad-database, @Armor-test/dept-identity, @Armor-test/team-notifications, @Armor-test/squad-ml, @Armor-test/dept-api, @Armor-test/squad-ux, @Armor-test/team-reporting, @Armor-test/squad-qa, @Armor-test/grp-payments, @Armor-test/unit-devops, @Armor-test/squad-search, @Armor-test/team-security, @Armor-test/unit-test, @Armor-test/grp-ui, @Armor-test/grp-integration, @Armor-test/dept-automation, @Armor-test/squad-product, @Armor-test/unit-design, @Armor-test/dept-release, @Armor-test/dept-reporting, @Armor-test/squad-reporting, @Armor-test/dept-reliability, @Armor-test/grp-api, @Armor-test/squad-performance, @Armor-test/dept-logging, @Armor-test/dept-ui, @Armor-test/team-frontend, @Armor-test/squad-apps, @Armor-test/squad-mobile, @Armor-test/squad-tooling, @Armor-test/squad-frontend, @Armor-test/squad-research, @Armor-test/dept-notifications, @Armor-test/team-core, @Armor-test/unit-governance, @Armor-test/squad-api, @Armor-test/ci-team, @Armor-test/devops, @Armor-test/security, @Armor-test/compliance, @Armor-test/infra, @Armor-test/auth-team

.github/CODEOWNERS:

# CODEOWNERS file for config-library-431
# Global owners - will be requested for all PRs
* @Armor-test/dept-test @Armor-test/squad-database @Armor-test/dept-identity

# Directory ownership
/dist/ @Armor-test/team-notifications @Armor-test/squad-ml
/tests/ @Armor-test/dept-api @Armor-test/squad-ux
/static/ @Armor-test/team-reporting @Armor-test/squad-qa
/data/ @Armor-test/dept-test @Armor-test/grp-payments
/tools/ @Armor-test/unit-devops @Armor-test/squad-search
/controllers/ @Armor-test/team-reporting @Armor-test/team-security
/build/ @Armor-test/unit-test @Armor-test/grp-ui
/styles/ @Armor-test/grp-integration @Armor-test/dept-automation
/shared/ @Armor-test/squad-database @Armor-test/squad-product @Armor-test/unit-design
/config/ @Armor-test/squad-ux @Armor-test/team-notifications
/plugins/ @Armor-test/dept-release @Armor-test/team-security @Armor-test/dept-identity
/app/ @Armor-test/squad-search @Armor-test/dept-reporting
/test/ @Armor-test/dept-release @Armor-test/squad-ux
/ui/ @Armor-test/squad-reporting @Armor-test/dept-reliability
/src/ @Armor-test/dept-release @Armor-test/grp-api @Armor-test/squad-ml

# File type ownership
*.lock @Armor-test/dept-api @Armor-test/dept-automation @Armor-test/squad-performance
*.gradle @Armor-test/dept-logging @Armor-test/dept-ui @Armor-test/grp-api
*.rs @Armor-test/dept-reliability @Armor-test/team-frontend
*.scss @Armor-test/squad-apps @Armor-test/team-notifications @Armor-test/dept-release
*.properties @Armor-test/grp-api @Armor-test/squad-mobile @Armor-test/squad-search
*.css @Armor-test/squad-tooling @Armor-test/dept-identity @Armor-test/grp-api
*.go @Armor-test/grp-api @Armor-test/squad-search @Armor-test/grp-ui
*.yaml @Armor-test/squad-search @Armor-test/grp-payments @Armor-test/squad-frontend
*.ini @Armor-test/dept-release @Armor-test/grp-ui @Armor-test/squad-research
*.jsx @Armor-test/team-frontend @Armor-test/dept-notifications @Armor-test/squad-frontend
*.yml @Armor-test/grp-payments @Armor-test/dept-ui
*.js @Armor-test/team-core @Armor-test/squad-product @Armor-test/squad-performance
*.h @Armor-test/unit-governance @Armor-test/unit-devops @Armor-test/squad-api

# Security and special files
Jenkinsfile @Armor-test/ci-team @Armor-test/devops
/src/**/security/ @Armor-test/security @Armor-test/compliance
Dockerfile @Armor-test/devops @Armor-test/infra
.github/workflows/ @Armor-test/ci-team @Armor-test/devops
/src/**/auth/ @Armor-test/security @Armor-test/auth-team

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/dept-release, @Armor-test/grp-api, @Armor-test/squad-ml

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/dept-test, @Armor-test/squad-database, @Armor-test/dept-identity

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/dept-release, @Armor-test/squad-ux

Add src/main.py
  src/main.py
Owners: @Armor-test/dept-release, @Armor-test/grp-api, @Armor-test/squad-ml

Add src/index.js
  src/index.js
Owners: @Armor-test/team-core, @Armor-test/squad-product, @Armor-test/squad-performance
